* {
    margin: 1rem 2rem;
    padding: o;
    box-sizing: border-box;
    font-size: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo img {
    border-radius: 50%;
}

body {
    background: #ccc;
    text-align: center;
    /* align-items: center; */
    /* min-height: 100vh; */
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ccc;

}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    color: #141414;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}

nav a:hover {
    color: rgb(18, 143, 97);
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translate v(50px);
    opacity: o;
    transition: .5s;
}

nav a:hover span {
    transform: scale(1) translate v(50px);
    opacity: 1;
}
